<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ .BaseURL }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ .BaseURL }}/updates</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ .BaseURL }}/articles</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ .BaseURL }}/signals</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  {{ range .Articles }}
  <url>
    <loc>{{ $.BaseURL }}/article/{{ .Slug }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {{ end }}
</urlset>
